src/main/mule/updateflow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="95ea980c-11a1-4ab9-ac6e-f54fb2040c1d" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="root" database="muesoft1" />
	</db:config>
	<flow name="updateflowFlow" doc:id="e1c33365-b684-4aa9-a13e-d4c105c4d6ca" >
		<db:update doc:id="258883fa-27df-457f-a6e5-c72317b8b1fb" config-ref="Database_Config">
			<db:sql ><![CDATA[UPDATE account SET name=:name WHERE accountid=:id]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
name:attributes.queryParams.name,
id:attributes.queryParams.id
}]]]></db:input-parameters>
		</db:update>
		<ee:transform doc:name="Transform Message" doc:id="6d9261f9-35c9-4dfb-9bbe-f1034598518b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---

payload	
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="091b0cc9-7ed9-4a54-81eb-d75c55131a52" message="final response is #[payload]"/>
	</flow>
</mule>
